<div class='card-pricing'>
    <div class='card__img2'>
        <img src='img/icon.png'/>
    </div>
    <div class='card__desc_pricing'>
        <h2 class='desc__title2'>Title</h2>
        <h3 class='desc_subtitle'>Subtitle</h3>
        <a class='content'>Feature 1 <br> Feature 2 <br> Feature 3</a>
    </div>
</div>